
.event-body button{
	max-width: 80%;
}

.navbar-brand{
	max-width: 30px;
}

.modal-footer{
	flex-wrap: wrap;
}

@media (max-width: 575.98px) { 
	.modal-footer [data-dismiss="modal"]{
		margin-top: 10px;
	}

}

